/* your code */


table{
	width:700px;
	font-family:monospace;
	font-style:italic;
}

tr:nth-child(even){
	background-color:lightgray;
	
}
thead{
	background-color:#4B78B0;
	color:white;
	
}
tr{
	height:25px;
}